{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>HABITST loading</title>
    <link rel="stylesheet" href="{% static 'Test/main.css' %}">
</head>
<body id=Test-loading>
    <img src="https://trello-attachments.s3.amazonaws.com/5f34bffc3b9f9582ccd7d6c9/506x500/ec79b2e204f95afffb2bdc7afdba6b5f/%ED%95%B4%EB%B9%84%EC%8A%A4%ED%8A%B81.PNG.png">
    <p><a>HABITST</a>와 함께하는 나에게 잘 맞는 취미생활 알아보기!</p>
    <a href="{% url 'Test:re01' tester.id %}">
        <button class="go" style="font-family: 'Noto Serif KR', serif;">결과보러 가기</button>
    </a>
</body>
</html>