{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>HABITST-TEST</title>
    
    <link rel="stylesheet" href="{% static 'Test/main.css' %}">
</head>
<body>
	<div class="habittest">
		<div class="habittest-title">
			<h3>취미 분석 테스트</h3>
			<h3>habitst Test</h3>
			<p lang="ko">
				빠르고 정확한 취미 테스트를 통해
				당신에게 어떤 취미가 적합한지 확인해보세요!
			</p>
		</div>
		<div class="habittest-start">
            <form action="" method="GET">
                {% csrf_token %}
                <input type="submit" class="name_btn" value="테스트 시작하기" style="font-family: 'Noto Serif KR', serif;">
            </form>
			<!-- <a href="#"><b>테스트 시작</b></a> -->
			<p lang="ko">
				* 총 검사 시간은 5분 내외입니다.<br>
				* 혹 질문이 마음에 들지 않더라고 정직하게 답변하십시오.
			</p>
		</div>
	</div>
</body>
</html>