{% extends 'appname/base.html' %}
{% load static %}
{% load humanize %}
<head>
    <link rel="stylesheet" href="{% static 'appname/css/mypage.css' %}">
</head>
{% block content %}
<div class="container" id="habitst-mypage">
    <div class="row">
        <div class="col-sm-12">
            <div class="mypage-for-grid">
                {% if user.profile_image %}
                <img src="{{ user.profile_image.url }}" class="img-responsive thumbnail" alt="img">
                {% endif %}
                <div>
                    
                    <h2>[ <a>{{ user }}</a>'s PROFILE ]</h2>
                    <p> <a>USER NAME</a> : {{ user }}</p>
                    <p>실은 무슨 내용을 넣어야 할 지 모르겠어요.</p>
                    <br>
                    <p><a class="blue">def</a> 한줄소개():</p>
                    <p>&nbsp&nbsp&nbsp&nbsp <a class="blue">print</a>("멋사인처럼 한줄소개!")</p>
                    <p>&nbsp&nbsp&nbsp&nbsp <a class="blue">print</a>("{{user.introducemyself}}")</p>
                    <p>&nbsp&nbsp&nbsp&nbsp <a class="orange">return</a> 0</p>
                    <p>&nbsp&nbsp&nbsp&nbsp<span class="btn-label" ></span><a href="{% url 'profile_update' %}">프로필편집</a></button></p>
                </div>
            </div>

            <hr>

            <div class="mypage-test-res">
                {% if test_list.result == None %}
                <p>취미테스트를 수행하지 않아 추천목록이 없습니다.</p>
                <a href="{% url 'Test:main' %}">테스트 하러가기</a>

                {% else %}
                <p><a class="mypage-test-res-user"><b>{{user}}님</b></a>을 위한 취미 추천은 {{test_list.result}}입니다.</p>
                <a display="button" href="{% url 'Test:main' %}">테스트 다시 하러가기</a>

                {% endif %}
            </div>

            <hr>

            <div class="mypage-my-payment">
                <h3>[<a>구매내역</a>]</h3>
                <hr>
                <table class="table table-hover table=bordered">
                    <thead>
                        <tr>
                            <th>상품명</th>
                            <th>상품가격</th>
                            <th>처리결과</th>
                            <th>결과일시</th>
                            <th>환불</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for order in order_list %}
                        {% if order.status == 'paid'%}
                        <tr>
                            <td>{{ order.name }}</td>
                            <td>{{ order.amount_html }}</td>
                            <td>{{ order.status_html }}</td>
                            <td>{{ order.paid_at|default:"-" }}</td>
                            {% if order.is_paid_ok %}
                            <td><a href="{% url 'order_cancel' order.imp_uid %}" class="btn btn-danger col-xs-12">
                                    <iclass="fa fa-times"></i> 주문 취소
                                </a></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}