@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* .withme-box{
    width: 1560px;
    height: 770px;
    border: solid 7px #03033f;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.pic-box{
    float: left;
    width: 35px;
    height: 35px;
    border: solid 3px #03033f;
    font-family: 'GmarketSansMedium';
    font-size: 30px;
}
.pic{
    font-family: 'GmarketSansMedium';
    float: left;
    font-size: 30px;
    margin-left: 8px;
    margin-top: -3px;
    margin-right: 25px;
}

#save{
    float: right;
    margin-top: -7px;
    font-family: 'GmarketSansMedium';
    border-radius: 27px;
    background-color: #03033f;
    border: 0;
    outline: 0;
    color: white;
    font-size: 30px;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
}
#save:hover{
    background-color: #ffe31b;
}

h1{
    font-family: 'GmarketSansMedium';
    font-size: 60px;
    font-weight: 300;
    line-height: 1.08;
    text-align: left;
    color: #03033f;
}

h2{
    font-family: 'GmarketSansLight';
    font-size: 30px;
    color: #03033f;
    text-align: left;
}

h3{
    font-family: 'GmarketSansLight';
    font-size: 25px;
    color: #03033f;
    text-align: left;
} */
/* * {
    text-align: center !important;
    margin : 0;
} */
.withme-box{
    width: 1000px;
    height: 770px;
    border: solid 7px #03033f;
    /* text-align: center !important; */
    margin: 0 auto;
    margin-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#save{
    float : right;
    font-family: 'GmarketSansMedium';
    border-radius: 27px;
    background-color: #03033f;
    border: 0;
    outline: 0;
    color: white;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px; 
    margin-top: 100px;
    /* margin-bottom: 300px; */
    width: 100px;
}
#save:hover{
    background-color: #ffe31b;
}

input{
    display: inline; 
    font-family: 'GmarketSansMedium';
    color: #03033f;
    font-size: 18px;
	width: 230px !important;
    height: 40px;
    border-style: none !important;
}
input:focus{
    outline: none !important;
}

#id_rule, #id_desc{
    display: inline; 
    font-family: 'GmarketSansMedium';
    color: #03033f;
    font-size: 18px;
	width: 800px;
    height: 100px;
    border-style: none !important;
}

#id_name{
    width: 700px;
    height: 50px;
    font-size: 30px;
}

.date{
    margin-right: 0;
    width : 300px;
}

#id_date_select{
    display: inline;
    text-align: center !important;
    width: 300px;
    margin:0;
}

/* .people, .place, .amount{   
    display : inline-block;
    text-align: left;
} */