@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
            

.login-box{
    font-family: 'GmarketSansMedium';
    color: #03033f;
    width: 658px;
    height: 792px;
    border: solid 4px #03033f;
    background-color: #ffffff;
    margin: 0 auto;
    text-align: center;
    margin-top: 90px;
}

.logo{
    margin-top: 75px;
    margin-bottom: 20px;
}

.login{
    margin-top: 30px;
}

#submit{
    font-family: 'GmarketSansMedium';
    border-radius: 27px;
    background-color: #ffe31b;
    border: 0;
    outline: 0;
    color: white;
    font-size: 18px;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
}

#submit:hover{
    background-color: #03033f;
}

.lang{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: normal;
}

input[id="cb"] {
	display: none;
}

input[id="cb"] + label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 2px solid #03033f;
	cursor: pointer;
}

input[id="cb"]:checked + label {
    background-color: #03033f;
}

#su{
    text-decoration: none;
}
#su:visited{
    color: #03033f;
    text-decoration: none;
}

input[id="username"]{
    font-family: 'GmarketSansMedium';
    color: #03033f;
    font-size: 18px;
	width: 230px;
    height: 40px;
    border-style: none;
    text-align: center;
}
input:focus[id="username"]{
    outline: none;
}

input[id="password"]{
    font-family: 'GmarketSansMedium';
    color: #03033f;
    font-size: 18px;
	width: 230px;
    height: 40px;
    border-style: none;
    text-align: center;
}
input:focus[id="password"]{
    outline: none;
}